<div class="card border {{!item.active ? 'inactive' : ''}}">
    <div class="card-header d-flex justify-content-between align-items-center pb-1 border-bottom">
        <div>
            <h5 class="card-title">{{item.title | translate}} <app-explanation-mark
                    [explanation]="item.text | translate"></app-explanation-mark></h5>

        </div>

        <div ngbDropdown>
            <i class="fa fa-cog config-icon" aria-hidden="true" ngbDropdownToggle id="dropdownMenuButton"></i>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <a ngbDropdownItem (click)="showReminderEditDialog()"><span class="fa fa-edit"></span>
                    {{'smsReminder.edit' |
                    translate}}</a>
                <a ngbDropdownItem (click)="item.active = !item.active; change()"><span
                        class="fa fa-{{item.active ? 'pause' : 'play'}}"></span> {{item.active ?
                    ('smsReminder.deactiveNotification' | translate) : ('smsReminder.activeNotification' |
                    translate)}}</a>
                <a ngbDropdownItem (click)="sendTestSmsMessage()"> <span class="fa fa-comment-o"></span>
                    {{'smsReminder.testMessage' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="card-body pb-0 mt-2 font-italic">
        {{item.message | translate}}
    </div>
    <div class="text-right status">
        <span *ngIf="item.active" class="badge badge-light-success">{{'smsReminder.active' | translate}}</span>
        <span *ngIf="!item.active" class="badge badge-light-danger">{{'smsReminder.inactive' | translate}}</span>
    </div>
</div>

<ng-template #reminderEdit let-modal class="modal-dialog modal-lg modal-dialog-centered display-none">
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'general.edit' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="edit-reminder">
            <div class="message-template">
                <div class="dynamic-buttons mt-1 full-width">
                    <label>{{'smsReminder.dynamicValue' | translate}}
                        <app-explanation-mark></app-explanation-mark></label> <br>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#time')"><span
                            class="fa fa-clock-o"></span> #time</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#date')"><span
                            class="fa fa-calendar"></span> #date</button>
                    <button *ngIf="companyInfo.address" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#address')"><span class="fa fa-address-book-o"></span>
                        #address</button>
                    <button *ngIf="companyInfo.zip" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#zip')"><span class="fa fa-address-book-o"></span>
                        #zip</button>
                    <button *ngIf="companyInfo.city" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#city')"><span class="fa fa-address-book-o"></span>
                        #city</button>
                    <button *ngIf="companyInfo.telephone" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#telephone')"><span class="fa fa-mobile"></span> #telephone</button>
                    <button *ngIf="companyInfo.company" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#company')"><span class="fa fa-building-o"></span> #company</button>
                    <button *ngIf="bookingLink" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#bookingLink')"><span class="fa fa-building-o"></span>
                        #bookingLink</button>
                </div>

                <label class="custom-label">{{'smsReminder.messageTemplate' | translate}}</label>
                <textarea #editableText id="editable-text" class="form-control" rows="6" [(ngModel)]="item.message"
                    (input)="changeMessage($event)" (click)="getCurrentPossition($event)"
                    name="message-template"></textarea>
                <!-- <div #editableText id="editable-text" class="editable-text" [innerText]="item.message"
                    [innerHtml]="convertMessageForSpecificWord()" (keypress)="changeMessage($event)"
                    contenteditable="true" spellcheck="false">
                </div> -->

            </div>
            <div class="reminder-info">
                <div>
                    <p class="fa fa-info-circle mb-0"></p>
                </div>
                <div class="reminder-info-group">
                    <p class="fa fa-arrow-right mb-0"></p>
                    <span>{{previewMessage().length}}</span>
                </div>
                <div class="reminder-info-group mb-0">
                    <p class="fa fa-commenting-o"></p>
                    <span>{{calculateNumberOfMessage()}} </span>
                </div>
            </div>
            <div class="message-preview">
                <label class="custom-label">{{'smsReminder.messagePreview' | translate}}</label>
                <textarea class="form-control" rows="6" [value]="previewMessage().value"
                    name="preview-message"></textarea>
            </div>
        </div>

        <div class="form-check mt-2">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.active">
                <label class="form-check-label">{{
                    'smsReminder.activeOrDeactive' | translate
                    }}
                </label>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="saveMessage()">{{'general.save' | translate}}</button>
    </div>
</ng-template>