<div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="pricing-plan">

                <!-- title text and switch button -->
                <div class="text-center">
                    <h1 class="mt-5">{{'licensePackages.pricingPlansTitle' | translate}}</h1>
                    <p class="mb-2 pb-75">
                        {{'licensePackages.pricingPlansText' | translate}}
                    </p>
                    <!-- <div class="d-flex align-items-center justify-content-center mb-5 pb-50">
                        <h6 class="me-1 mb-0">{{'licensePackages.monthly' | translate}}</h6>
                        <div class="form-check form-switch subscription-duration">
                            <input type="checkbox" class="form-check-input" id="priceSwitch"
                                [(ngModel)]="annualSubscription" />
                            <label class="form-check-label" for="priceSwitch"></label>
                        </div>
                        <h6 class="ms-50 mb-0">{{'licensePackages.annualy' | translate}}</h6>
                    </div> -->
                </div>
                <!--/ title text and switch button -->

                <!-- pricing plan cards -->
                <div class="row pricing-card" *ngIf="license">
                    <div class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-8 mx-auto">
                        <div class="row">
                            <!-- basic plan -->

                            <div class="col-12 col-md-{{licenseNumberClass}}" *ngFor="let item of licensePackages">
                                <div class="card basic-pricing text-center">
                                    <div class="card-body">
                                        <img src="{{item.icon}}" class="mb-2 mt-5 package-icon" alt="svg img" />
                                        <h3>{{item.name}}</h3>
                                        <p class="card-text">{{item.slogan}}</p>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-2">
                                                <sup class="font-medium-1 fw-bold text-primary">$</sup>
                                                <span
                                                    class="pricing-basic-value fw-bolder text-primary">{{item.monthly_price}}</span>
                                                <sub
                                                    class="pricing-duration text-body font-medium-1 fw-bold">/month</sub>
                                            </div>
                                            <small class="annual-pricing d-none text-muted"></small>
                                        </div>
                                        <ul class="list-group list-group-circle text-start">
                                            <li class="list-group-item" *ngFor="let plan of item.plans">{{plan}}</li>
                                        </ul>
                                        <button class="btn w-100 btn-outline-success mt-2"
                                            *ngIf="license.license_id === item.id">{{'licensePackages.currentPlan' |
                                            translate}}</button>
                                        <button class="btn w-100 btn-primary mt-2"
                                            *ngIf="license.license_id !== item.id"
                                            (click)="selectPackage(item)">{{'licensePackages.upgrade' |
                                            translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ pricing plan cards -->


                <div *ngIf="license && license.monthly_price"
                    class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-8 mx-auto p-0">
                    <app-license-status [currentStatus]="false" [data]="license"></app-license-status>
                </div>

                <!-- pricing free trial -->
                <div class="pricing-free-trial">
                    <div class="row">
                        <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
                            <div class="pricing-trial-content d-flex justify-content-between">
                                <div class="text-center text-md-start mt-3">
                                    <h3 class="text-primary">{{'licensePackages.additionalFunctionalities' | translate}}
                                    </h3>
                                    <h5>{{'licensePackages.contactUsForSolvingProblem' | translate}}</h5>
                                    <button class="btn btn-primary mt-2 mt-lg-3">{{'licensePackages.contactUsButton' |
                                        translate}}</button>
                                </div>

                                <!-- image -->
                                <img src="../../../../../../assets/images/illustration/pricing-Illustration.svg"
                                    class="pricing-trial-img img-fluid" alt="svg img" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ pricing free trial -->
            </section>

        </div>
    </div>
</div>