<div class="logo-container text-center">
    <a class="navbar-brand">
        <span class="brand-logo">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" />
        </span>
        <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
    </a>
</div>
<div class="wizard-container" *ngIf="welcomeText === -1">
    <div class="card p-2">
        <div class="text-center mb-2">
            <h1 class="font-weight-bolder">{{'wizard.title' | translate}}</h1>
            <h5>{{'wizard.text' | translate}}</h5>
        </div>
        <!-- <app-general></app-general> -->
        <app-dynamic-forms [path]="path" [file]="file" (submit)="submit($event)"></app-dynamic-forms>
    </div>
</div>


<div class="page-loader" *ngIf="welcomeText != -1">
    <div class="page-loading-wrapper">
        <div class="loading loading07" *ngIf="welcomeText === 0">
            <!-- <span *ngFor="let item of welcomeTranslation" data-text="{{item}}">{{item}}</span> -->
            <span data-text="W">W</span>
            <span data-text="e">e</span>
            <span data-text="l">l</span>
            <span data-text="c">c</span>
            <span data-text="o">o</span>
            <span data-text="m">m</span>
            <span data-text="e">e</span>
            <span data-text="">&nbsp;</span>
            <!-- <span *ngFor="let item of toTranslation" data-text="{{item}}">{{item}}</span> -->
            <span data-text="t">t</span>
            <span data-text="o">o</span>
        </div>
        <div class="loading loading07" *ngIf="welcomeText === 1">
            <span data-text="T">T</span>
            <span data-text="e">e</span>
            <span data-text="r">r</span>
            <span data-text="m">m</span>
            <span data-text="m">m</span>
            <span data-text="y">y</span>
        </div>
    </div>
</div>