<div class="card p-1">
    <div class="row">
        <div class="col-12">
            <div class="align-items-center mb-2 border-bottom">
                <i data-feather="link" class="font-medium-3"></i>
                <h4 class="ml-75">{{'buyMoreSms.title' | translate}}</h4>
                <h6 class="ml-75">{{'buyMoreSms.text' | translate}}</h6>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{{'buyMoreSms.package' | translate}}</th>
                        <th scope="col">{{'buyMoreSms.numberOfSms' | translate}}</th>
                        <th scope="col">{{'buyMoreSms.price' | translate}}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of smsPackages">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.count}} SMS
                        </td>
                        <td>
                            {{item.price}} €
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="radio" name="amount" id="{{item.name}}"
                                    [value]="item.price" [(ngModel)]="selectedSmsPrice" (click)="selectSmsPackage(item)"
                                    [checked]="selectedSmsPrice == item.price ? true : false">
                                <label class="custom-control-label" for="{{item.name}}">

                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6 col-12 payment" *ngIf="selectedSmsPrice">
            <app-payment-processing [amount]="selectedSmsPrice" [buttonText]="'buyMoreSms.buySmsButton' | translate"
                (executeMethodEmitter)="executeMethod($event)"></app-payment-processing>

            <div class="text-center mt-4" *ngIf="successfullyBoughtNewSms">
                <p class="badge badge-success mb-1">{{_helpService.replaceText('buyMoreSms.successfullyBoughtNewSms' |
                    translate, '#count', selectedSmsPackage.count)}}</p> <br>
                <a routerLink="/dashboard/admin/admin-settings/reminders">{{'buyMoreSms.backToSmsReminder' |
                    translate}}</a>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="align-items-center mb-2 border-bottom">
                <h6 class="ml-75">{{'buyMoreSms.previousPayments' | translate}}</h6>
            </div>
        </div>

        <div class="col-12">
            <app-dynamic-grid [path]="path" [file]="file"></app-dynamic-grid>
        </div>
    </div>
</div>