<app-loader *ngIf="loader"></app-loader>

<div *ngIf="reminderConfig && !loader">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="align-items-center mb-2 border-bottom">
                    <i data-feather="link" class="font-medium-3"></i>
                    <h4 class="ml-75">{{'smsReminder.title' | translate}} <app-explanation-mark
                            [explanation]="'smsReminder.explanation' | translate"></app-explanation-mark></h4>
                    <h6 class="ml-75">{{'smsReminder.text' | translate}}</h6>
                </div>
            </div>
        </div>


        <div>
            <app-sms-counter></app-sms-counter>
        </div>
    </div>

    <div class="mt-2 pt-2 border-top">
        <div class="mb-3">
            <div class="form-check form-switch d-flex align-items-center">
                <input type="checkbox" class="form-check-input" name="sms-reminder" [(ngModel)]="reminderConfig.active"
                    (change)="setSmsReminderConfig($event)">
                <div>
                    <h5 class="form-check-label d-block" for="sms-reminder">{{'smsReminder.activeSmsReminder' |
                        translate}}
                    </h5>
                    <span class="badge badge-warning mb-0 recommended">{{'reminders.recommended'
                        | translate}} <app-explanation-mark
                            [explanation]="'reminders.recommendedExplanation' | translate"
                            [fontSize]="'small'"></app-explanation-mark></span>
                </div>
                <div class="ml-1 w-75" *ngIf="!reminderConfig.active">
                    <h4 class="badge badge-danger pt-1 pb-1 text-left"><span class="fa fa-exclamation-triangle"></span>
                        {{'smsReminder.warning' |
                        translate}} </h4>
                </div>
            </div>

            <div class="col-12 mt-2" *ngIf="notFillPersonalData">
                <h4 class="badge badge-warning pt-1 pb-1 text-left"><span class="fa fa-exclamation-triangle"></span>
                    {{'smsReminder.pleaseFillPersonalData' |
                    translate}} <a class="here-link" routerLink="/dashboard/account-settings/general">{{'general.here' |
                        translate}}</a></h4>
            </div>
        </div>
        <div class="col-12">
            <div class="card">

                <!-- CUSTOMER REMINDER -->
                <h5>{{'smsReminder.reminderClientTitle' | translate}} </h5>

                <div>
                    <div class="row mt-2">
                        <div class="col-lg-4 col-12">
                            <app-sms-reminder-card [item]="reminderConfig.config.clientImmediatelyReminder"
                                (changeValue)="setSmsReminderConfig($event)"></app-sms-reminder-card>
                        </div>
                        <div class="col-lg-4 col-12">
                            <app-sms-reminder-card [item]="reminderConfig.config.clientDayBeforeReminder"
                                (changeValue)="setSmsReminderConfig($event)"></app-sms-reminder-card>
                        </div>
                    </div>
                    <!-- END CUSTOMER REMINDER -->

                    <!-- CLIENT LOYALITY-->

                    <h5>{{'smsReminder.clientLoyalityTitle' | translate}} </h5>

                    <div class="row mt-2">
                        <div class="col-lg-4 col-12">
                            <app-sms-reminder-card [item]="reminderConfig.config.clientHappyBirthday"
                                (changeValue)="setSmsReminderConfig($event)"></app-sms-reminder-card>
                        </div>
                        <!-- <div class="col-lg-4 col-12">
                        <app-sms-reminder-card [item]="smsReminder.clientThankForCommingToUs"
                            (changeValue)="changeValue($event)"></app-sms-reminder-card>
                    </div> -->
                    </div>

                    <!-- END CLIENT LOYALITY-->

                    <!-- EMPLOYEE REMINDER -->

                    <h5>{{'smsReminder.reminderEmployeeTitle' | translate}} </h5>

                    <div class="row mt-2">
                        <div class="col-lg-4 col-12">
                            <app-sms-reminder-card [item]="reminderConfig.config.employeeImmediatelyReminder"
                                (changeValue)="setSmsReminderConfig($event)"></app-sms-reminder-card>
                        </div>
                        <div class="col-lg-4 col-12">
                            <app-sms-reminder-card [item]="reminderConfig.config.employeeDayBeforeReminder"
                                (changeValue)="setSmsReminderConfig($event)"></app-sms-reminder-card>
                        </div>
                    </div>

                    <!-- END EMPLOYEE REMINDER -->
                </div>
            </div>
        </div>
    </div>
</div>