<!-- <app-user-list [path]="'grids'" [file]="'superadmin-all-users.json'"></app-user-list> -->

<div class="card">
    <div class="card-body">
        <div class="min-vh-100" *ngIf="loader">
            <app-loader></app-loader>
        </div>
        <form class="validate-form" *ngIf="!loader">
            <div class="row">
                <!-- social header -->
                <div class="col-12">
                    <div class="align-items-center mb-2">
                        <i data-feather="link" class="font-medium-3"></i>
                        <h4 class="ml-75">{{'worktime.title' | translate}}</h4>
                        <h6 class="ml-75">{{'worktime.text' | translate}}</h6>
                    </div>
                </div>
                <div class="col-12 pt-2 pb-2 border-top border-bottom" *ngFor="let item of data.value; let i = index">
                    <div class="m-auto">
                        <div class="form-check form-check-inline col-12 col-sm-12 mb-2 mt-2">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="{{item.id}}" name="{{item.id}}"
                                    (change)="item.active = !item.active" [checked]="item.active" />
                                <label class="custom-control-label" for="{{item.id}}">{{item.name | translate}}
                                    {{model}}</label>
                            </div>
                        </div>
                        <div class="row" *ngFor="let time of item.times; let j = index">
                            <div class="d-md-flex m-auto text-center">
                                <div class="form-group m-2">
                                    <label for="account-twitter">{{'worktime.from' | translate}}</label>

                                    <time-picker-i18n [value]="time.start"
                                        (changeValue)="time.start = $event; validateEntry(i, j)"
                                        [disabled]="!item.active" [minuteStep]="30"></time-picker-i18n>
                                </div>
                                <div class="form-group m-2">
                                    <label for="account-twitter">{{'worktime.to' | translate}}</label>

                                    <time-picker-i18n [value]="time.end"
                                        (changeValue)="time.end = $event;  validateEntry(i, j)"
                                        [disabled]="!item.active" [minuteStep]="30"></time-picker-i18n>
                                </div>
                                <div class="d-md-flex align-items-center">
                                    <button type="button" class="btn btn-outline-danger h-35 ml-md-3 mt-md-2"
                                        rippleEffect [disabled]="!item.active || item.times.length === 1"
                                        (click)="removeWorkTimeForDay(i, j)">{{'worktime.remove' | translate}}</button>
                                </div>
                            </div>
                        </div>

                        <p class="text-center error">{{notCorrectTime[i]}}</p>



                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-outline-primary w-50" rippleEffect
                                [disabled]="!item.active" (click)="addNewWorkTimeForDay(i)">{{'worktime.addTime' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="worktime-color mt-2 ml-75">
                    <h4>{{'worktime.colorTitle' | translate}}</h4>
                    <label class="mr-4">{{'worktime.colorText' | translate}}</label>
                    <input ejs-colorpicker type="color" id="color" name="color" [(value)]="data.color" />
                </div>
                <div class="col-12 mt-3 text-right">
                    <button type="button" class="btn btn-primary" rippleEffect (click)="saveWorkTime()"><span
                            data-feather="save"></span> {{'worktime.save' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>