<app-loader *ngIf="loader"></app-loader>
<div class="content-wrapper p-0" *ngIf="config&&!loader">
    <div class="content-body">
        <section class="users-list-wrapper">
            <!-- users filter start -->
            <div class="row mb-2" *ngIf="multiCalendar">
                <div class="col-md-6">
                    <label *ngIf="config.filters.locations.title" class="custom-label">{{
                        config.filters.locations.title | translate
                        }} </label>
                    <ng-select *ngIf="allLocations" [items]="allLocations" [bindLabel]="'name'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.location_id" (change)="changeLocation($event)">
                    </ng-select>
                </div>
                <div class="col-md-6">
                    <label *ngIf="config.filters.employees.title" class="custom-label">{{
                        config.filters.employees.title | translate
                        }} </label>
                    <ng-select [items]="allEmployees" [bindLabel]="'firstname'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.selectedEmployees" [multiple]="true"
                        (change)="changeEmployees($event)">
                    </ng-select>
                </div>
            </div>
            <div class="card" *ngIf="checkCalendarVisibility()">
                <ejs-schedule #calendar width='100%' [height]="multiCalendar ? '71vh' : '80vh'"
                    [eventSettings]="eventSettings" [group]="group" [showWeekNumber]="true"
                    [startHour]="getStartHourForLocation()" [endHour]="getEndHourForLocation()"
                    (actionBegin)="onActionBegin($event)" (popupOpen)="onPopupOpen($event)"
                    (popupClose)="onPopupClose($event)" (eventRendered)="onEventRendered($event)"
                    (dataBound)="onDataBound($event)" (renderCell)="onRenderCell($event)">
                    <ng-template #resourceHeaderTemplate let-data let-item let-index>
                        <div class='template-wrap d-inline-flex align-items-center'>
                            <div class="resource-image avatar mr-1"><img height="40" width="40"
                                    src="../../../../assets/images/avatars/no-user-profile.png">
                                <img class="external-calendar-icon"
                                    *ngIf="checkExternalAccountForGoogle(item.resourceData.id)"
                                    src="../../../../assets/images/icons/google.png"
                                    title="{{'myCalendar.connectedThisCalendarWithGoogle' | translate}}">
                            </div>
                            <div class="resource-details">
                                <div class="d-flex">
                                    <div *ngIf="item.resourceData.text" class="resource-name">{{item.resourceData.text}}
                                    </div>
                                    <span *ngIf="!workTimes[item.resourceData.groupIndex]"
                                        class="fa fa-exclamation not-set-worktime"
                                        title="{{'myCalendar.notSetWorkTimeForUser' | translate}}"></span>
                                </div>
                                <div *ngIf="item.resourceData.position" class="resource-designation">
                                    {{item.resourceData.position}}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #editorTemplate let-data>
                        <table class="custom-event-editor" width="100%" cellpadding="5">
                            <tbody>
                                <app-dynamic-forms *ngIf="config && config.config.length > 0" [config]="config"
                                    [partOfGrid]="true" [data]="data" #form="dynamicForm">
                                </app-dynamic-forms>
                            </tbody>
                        </table>
                    </ng-template>
                    <e-resources *ngIf="resourceDataSource">
                        <e-resource field='employeeId' title='Employees' name='Doctors'
                            [dataSource]='resourceDataSource' textField='text' idField='id' colorField='color'
                            startHourField='startHour' [allowMultiple]="true" endHourField='endHour'>
                        </e-resource>
                    </e-resources>
                </ejs-schedule>
            </div>
            <div class="need-to-select-container" *ngIf="!checkCalendarVisibility()&&!loader">
                <div class="need-to-select">
                    <img src="../../../../assets/images/illustration/calendar.png">
                    <h3 class="mt-1">{{'myCalendar.selectLocationAndEmployee' | translate}}</h3>
                </div>
            </div>

        </section>
    </div>
</div>