<!-- <div
  *ngIf="language && config && checkRights()"
  [ngClass]="[config.positionClass]"
> -->
<div *ngIf="config && checkRights()" [ngClass]="[config.positionClass]" class="form-group form-custom">
  <button *ngIf="!config.request" [class]="config.class" [disabled]="config.disabled" type="submit">
    {{ language[config.title] ? language[config.title] : config.title }}
  </button>
  <button *ngIf="config.request" [class]="config.class" [disabled]="config.disabled" (click)="clickRequest()">
    {{ language[config.title] ? language[config.title] : config.title }}
  </button>
</div>

<div *ngIf="title || icon">
  <button class="e-btn {{ class }}" (click)="clickButton()">
    <app-dynamic-icon *ngIf="icon" [icon]="icon"></app-dynamic-icon>
    {{ language[title] ? language[title] : title }}
  </button>
</div>