<div class="min-vh-100" *ngIf="loader">
    <app-loader></app-loader>
</div>
<form class="validate-form" *ngIf="!loader">
    <div class="row">
        <!-- social header -->
        <div class="col-6">
            <div class="align-items-center mb-2">
                <i data-feather="link" class="font-medium-3"></i>
                <h4 class="ml-75">{{'recommended.title' | translate}} <app-explanation-mark
                        [explanation]="'recommended.explanation' | translate"></app-explanation-mark></h4>
                <h6 class="ml-75">{{'recommended.text' | translate}}</h6>
            </div>
        </div>
        <div class="col-12 pt-2 pb-2 border-top">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="status text-center">
                        <span class="fa fa-gift gift-icon"></span>
                        <h4 class="mb-0 font-weight-bolder">{{smsCount}} {{'recommended.smsBonus' | translate}}</h4>
                        <p>{{'recommended.numberOfSmsBonus' | translate}}</p>
                        <div class="mb-1" *ngIf="smsCount > 0 || pickedUpSms">
                            <div *ngIf="pickedUpSms">
                                <p class="badge badge-light-success">{{'recommended.successfullyPickedUpSms'
                                    | translate}}</p>
                                <a class="d-block"
                                    routerLink="/dashboard/admin/admin-settings/reminders">{{'recommended.goToCheckAvailableSms'
                                    |
                                    translate}}</a>
                            </div>
                            <a class="btn btn-outline-primary" *ngIf="smsCount > 0" (click)="pickUpSmsBonus()">
                                <app-small-loader *ngIf="loaderContent"></app-small-loader>
                                {{'recommended.pickUpSmsBonus' |
                                translate}}</a>
                        </div>
                        <div>
                            <a class="btn btn-primary" (click)="copyRecommendedLinkToClipboard()"><span
                                    class="fa fa-link"></span> {{'recommended.getRecommendedLink'
                                | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 termmy-coin-container">
                    <div class="status text-center">
                        <span class="fa fa-credit-card gift-icon"></span>
                        <div *ngIf="voucher">
                            <div class="termmy-coin">
                                <h3 class="mb-0 font-weight-bolder">{{termmyCoinCount}} </h3> <img
                                    src="./assets/images/icons/termmy-coin.png" title="{{'recommended.termmyCoin' |
                        translate}}">
                            </div>
                            <p>{{'recommended.voucherCode' | translate}}: <b>{{voucher.voucher_code}}</b>
                                <app-explanation-mark [explanation]="explanationForVoucherBonus"></app-explanation-mark>
                            </p>
                            <a class="btn btn-outline-primary" (click)="copyRecommendedVoucherCodeToClipboard()"><span
                                    class="fa fa-link"></span> {{'recommended.copyVoucherCode'
                                | translate}}</a>
                        </div>
                        <div *ngIf="!voucher">
                            <p class="m-0 font-weight-bold">{{'recommended.termmyPartnerTitle' | translate}}</p>
                            <!-- <a class="btn btn-default full-width pt-0 pb-1 read-more">Read more</a> -->
                            <div class="full-width pb-1">
                                <app-explanation-mark [text]="'general.readMore' | translate"
                                    [explanation]="'recommended.explanationForTermmyPartner' | translate"></app-explanation-mark>
                            </div>
                            <a class="btn btn-outline-primary" (click)="sendRequestToBePartner()"><span
                                    class="fa fa-link"></span> {{'recommended.becomeATermmyPartner'
                                | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="archive mt-4" *ngIf="data">
                <h6 class="border-bottom pb-1">{{'recommended.registeredThroughLink' | translate}}</h6>
                <app-dynamic-grid [data]="data" [path]="path" [file]="file"></app-dynamic-grid>
            </div>
        </div>
    </div>
</form>

<app-dialog-confirm [title]="('general.executeActionQuestionTitle' | translate)"
    [content]="('recommended.becomeATermmyPartnerQuestion' | translate)"
    (confirm)="confirmSendRequestToBePartner()"></app-dialog-confirm>