.form-custom {
  display: inline-block;
}

.hidden,
.hide {
  display: none !important;
}

.date-none .e-date-icon {
  display: none !important;
}

.must-label {
  font-size: 12px;
}

.e-outline.e-input-group:not(.e-input-focus),
.e-outline.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  ):not(.e-input-focus),
.e-outline.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-float-icon-left):not(.e-input-focus),
.e-outline.e-input-group.e-float-icon-left:not(.e-input-focus),
.e-outline.e-input-group.e-control-wrapper.e-float-icon-left:not(
    .e-input-focus
  ) {
  border-color: #d8d6de !important;
}

.e-outline.e-input-group.e-input-focus:hover:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.e-outline.e-input-group.e-input-focus.e-control-wrapper:hover:not(
    .e-success
  ):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.e-outline.e-float-input.e-input-focus.e-control-wrapper:hover:not(
    .e-success
  ):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.e-outline.e-float-input.e-input-focus:hover:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
.e-outline.e-float-input.e-input-focus:hover:not(.e-input-group):not(
    .e-success
  ):not(.e-warning):not(.e-error):not(.e-disabled),
.e-outline.e-float-input.e-input-focus.e-control-wrapper:hover:not(
    .e-input-group
  ):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled),
.e-outline.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-disabled),
.e-outline.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-disabled),
.e-outline.e-float-input.e-input-focus:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-disabled),
.e-outline.e-float-input.e-control-wrapper.e-input-focus:not(.e-success):not(
    .e-warning
  ):not(.e-error):not(.e-disabled) {
  border-color: #7367f0 !important;
  box-shadow: none !important;
}
