<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="https://termmy.com">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          " alt="Login V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <app-select-language></app-select-language>

      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">{{'login.title' | translate}}</h2>
        <p class="card-text mb-2">{{'login.subtitle' | translate}}</p>

        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p *ngIf="error === 'verified'">{{ 'login.verifiedError' | translate }}</p>
            <p *ngIf="error === 'active'">{{ 'login.activeError' | translate }}</p>
            <p *ngIf="error === 'exist'">{{ 'login.notExistsError' | translate }}</p>
          </div>
        </ngb-alert>

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="login-email">Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="admin@demo.com"
              aria-describedby="login-email" autofocus="" tabindex="1" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{'login.emailIsRequired' | translate}}</div>
              <div *ngIf="f.email.errors.email">{{'login.emailMustBeValid' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="login-password">{{'login.password' | translate}}</label><a
                routerLink="/auth/forgot-password"><small>{{'login.forgotPassword' | translate}}</small></a>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                class="form-control form-control-merge"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                aria-describedby="login-password" tabindex="2" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }">
              <div *ngIf="f.password.errors.required">{{'login.passwordIsRequired' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
              <label class="custom-control-label" for="remember-me"> {{'login.rememberMe' | translate}}</label>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{'login.signIn' | translate}}
          </button>

        </form>
        <p class="text-center mt-2">
          <span>{{'login.newOnPlatform' | translate}}</span><a
            routerLink="/auth/signup"><span>&nbsp;{{'login.createAnAccount' |
              translate}}</span></a>
        </p>
        <div class="divider my-2">
          <div class="divider-text">{{'login.or' | translate}}</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center row">
          <!-- <div class="col-md-6 col-sm-12 d-contents mb-1" *ngIf="lang">
            <div id="g_id_onload"
              data-client_id="886729047823-77u02t3bvpk8ec98or5r5hpetdlocn6e.apps.googleusercontent.com"
              data-context="signin" data-ux_mode="popup" attr.data-login_uri="{{GOOGLE_AUTH_URL}}"
              data-auto_prompt="false">
            </div>
            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline"
              attr.data-locale="{{lang}}" data-size="large" data-logo_alignment="left">
            </div>
          </div> -->

          <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin>
          <button class="bsk-btn bsk-btn-default social-signup microsoft-auth" (click)="loginWithMicrosoft()">
            <img src="../../../assets/images/icons/microsoft.svg">
            {{'login.signInWithMicrosoft' | translate}}</button>

        </div>
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>