<div class="card">
    <div class="card-body">
        <form class="validate-form">
            <div class="row">
                <!-- social header -->
                <div class="col-12">
                    <div class="d-flex align-items-center mb-2">
                        <i data-feather="link" class="font-medium-3"></i>
                        <h4 class="mb-0 ml-75">Worktime</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6">

                    <date-picker-i18n></date-picker-i18n>
                </div>
            </div>
        </form>
    </div>
</div>