<ng-template #myTemplate let-item="item">
    <div class="options">
        <div class="p-1 mb-1 d-flex align-items-center justify-content-between">
            <div class="flex-grow-0">
                <button class="btn btn-primary waves-effect waves-float waves-light"
                    (click)="toggleSidebar('sidebar-mobile'); createNewRecords = true; resetFormValue()"><svg
                        xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus d-inline-block mr-0">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg></button>
            </div>
            <div class="flex-grow-1 pl-1 pr-1"><input [(ngModel)]="searchValue" name="searchValue" type="search"
                    class="form-control ml-25" (keyup)="filterUpdate($event)" (search)="filterUpdate($event)"
                    placeholder="{{'general.searchFilter' | translate}}"></div>
            <div class="flex-grow-0"></div>
        </div>
    </div>

    <app-loader *ngIf="loader"></app-loader>

    <div *ngIf="!loader">
        <div *ngIf="!data || !data.length">
            <app-no-data></app-no-data>
        </div>

        <div class="row" *ngIf="data && data.length">
            <div *ngFor="let item of data" class="col-md-12 mb-1 ml-1 mr-1">
                <div class="profile-card js-profile-card"
                    [ngStyle]="{'border-left': '2px solid', 'border-color': item.color}">
                    <div class="profile-card__cnt js-profile-cnt row">
                        <div class="full-width col-9">
                            <div class="profile-card__name text-left ml-1">{{item.name}}</div>

                            <div class="d-flex justify-content-around">
                                <div>
                                    <p class="service-text">{{'myServices.timeDuration' | translate}}</p>
                                    <h4 class="font-weight-bolder">{{item.time_duration}} <br> {{'myServices.min' |
                                        translate}}</h4>
                                </div>

                                <div>
                                    <p class="service-text">{{'myServices.timeBlocked' | translate}}</p>
                                    <h4 class="font-weight-bolder">{{item.time_blocked}} <br> {{'myServices.min' |
                                        translate}}</h4>
                                </div>

                                <div>
                                    <p class="service-text">{{'myServices.price' | translate}}</p>
                                    <h4 class="font-weight-bolder">{{'myServices.currency' | translate}}{{item.price}}
                                    </h4>
                                </div>
                            </div>

                        </div>
                        <div class="profile-card-ctr full-width col-3">
                            <button class="btn btn-outline-primary" (click)="showMore(item)"><span
                                    class="fa fa-search"></span></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="sidebar-mobile"
        overlayClass="modal-backdrop">
        <div class="slideout-content">
            <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
                <div class="modal-dialog">
                    <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)"
                        #newUserForm="ngForm">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="toggleSidebar('sidebar-mobile')">
                            ×
                        </button>
                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel">{{createNewRecords ? ('general.newEntrie' |
                                translate) : ('general.editEntrie' | translate)}}</h5>
                        </div>
                        <div class="modal-body flex-grow-1">
                            <app-dynamic-forms *ngIf="config && config.config && config.config.length > 0"
                                [config]="config" [partOfGrid]="true" [data]="data" (submit)="submitEmitter($event)"
                                #form="dynamicForm">
                            </app-dynamic-forms>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </core-sidebar>
</ng-template>

<app-card-template [template]="myTemplate"></app-card-template>