<div>
    <div class="row">
        <div class="col-12">
            <div class="align-items-center mb-2 border-bottom">
                <i data-feather="link" class="font-medium-3"></i>
                <h4 class="ml-75">{{'emailReminder.title' | translate}} <app-explanation-mark
                        [explanation]="'emailReminder.explanation' | translate"></app-explanation-mark></h4>
                <h6 class="ml-75">{{'emailReminder.text' | translate}}</h6>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">

        <!-- CUSTOMER REMINDER -->
        <h5>{{'emailReminder.reminderClientTitle' | translate}} </h5>

        <div *ngIf="emailReminder">
            <div class="row mt-2">
                <div class="col-lg-4 col-12">
                    <app-email-reminder-card [item]="emailReminder.clientImmediatelyReminder"
                        (changeValue)="changeValue($event)"></app-email-reminder-card>
                </div>
                <div class="col-lg-4 col-12">
                    <app-email-reminder-card [item]="emailReminder.clientDayBeforeReminder"
                        (changeValue)="changeValue($event)"></app-email-reminder-card>
                </div>
            </div>
            <!-- END CUSTOMER REMINDER -->

            <!-- CLIENT LOYALITY-->

            <h5>{{'emailReminder.clientLoyalityTitle' | translate}} </h5>

            <div class="row mt-2">
                <div class="col-lg-4 col-12">
                    <app-email-reminder-card [item]="emailReminder.clientHappyBirthday"
                        (changeValue)="changeValue($event)"></app-email-reminder-card>
                </div>
                <!-- <div class="col-lg-4 col-12">
                        <app-sms-reminder-card [item]="emailReminder.clientThankForCommingToUs"
                            (changeValue)="changeValue($event)"></app-sms-reminder-card>
                    </div> -->
            </div>

            <!-- END CLIENT LOYALITY-->

            <!-- EMPLOYEE REMINDER -->

            <h5>{{'emailReminder.reminderEmployeeTitle' | translate}} </h5>

            <div class="row mt-2">
                <div class="col-lg-4 col-12">
                    <app-email-reminder-card [item]="emailReminder.employeeImmediatelyReminder"
                        (changeValue)="changeValue($event)"></app-email-reminder-card>
                </div>
                <div class="col-lg-4 col-12">
                    <app-email-reminder-card [item]="emailReminder.employeeDayBeforeReminder"
                        (changeValue)="changeValue($event)"></app-email-reminder-card>
                </div>
            </div>

            <!-- END EMPLOYEE REMINDER -->
        </div>
    </div>
</div>