<div *ngIf="language && config && checkRights()" [ngClass]="[config.width]" [formGroup]="group" class="form-group form-custom">
  <div class="form-check form-check-inline">
    <div class="custom-control custom-switch custom-control-inline">
      <input type="checkbox" class="custom-control-input" [id]="config.name" [name]="config.name" [checked]="true"
        [formControlName]="config.name" [disabled]="config.disabled!"> <label *ngIf="config.title"
        class="custom-control-label" [for]="config.name">{{
        config.title
        }}</label>
    </div>
  </div>
</div>