<!-- <app-dynamic-schedule [path]="path" [file]="file"></app-dynamic-schedule> -->


<app-loader *ngIf="loader"></app-loader>
<app-loader *ngIf="loaderContent"></app-loader>
<div class="content-wrapper p-0" *ngIf="config&&!loader">
    <div class="content-body">
        <section class="users-list-wrapper">
            <div class="row mb-2" *ngIf="multiCalendar">
                <div class="col-md-6">
                    <label *ngIf="config.filters.locations.title" class="custom-label">{{
                        config.filters.locations.title | translate
                        }} </label>
                    <ng-select *ngIf="allLocations" [items]="allLocations" [bindLabel]="'name'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.location_id" (change)="changeLocation($event)">
                    </ng-select>
                </div>
                <div class="col-md-6">
                    <label *ngIf="config.filters.employees.title" class="custom-label">{{
                        config.filters.employees.title | translate
                        }} </label>
                    <ng-select [items]="allEmployees" [bindLabel]="'firstname'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.selectedEmployees" [multiple]="true"
                        (change)="changeEmployees($event)">
                    </ng-select>
                </div>
            </div>
            <div class="card" *ngIf="checkCalendarVisibility()">
                <ejs-schedule #calendar width='100%' [height]="multiCalendar ? '71vh' : schedulerHeight"
                    [eventSettings]="eventSettings" [group]="group" [showWeekNumber]="true"
                    currentView="{{calendarSettings && calendarSettings.currentView ? calendarSettings.currentView : 'WorkWeek'}}"
                    [startHour]="getStartHourForLocation()" [endHour]="getEndHourForLocation()" [showQuickInfo]="false"
                    (actionBegin)="onActionBegin($event)" (popupOpen)="onPopupOpen($event)"
                    (popupClose)="onPopupClose($event)" (eventRendered)="onEventRendered($event)"
                    (dataBound)="onDataBound($event)" (renderCell)="onRenderCell($event)"
                    (cellClick)="onCellClick($event)" (eventClick)="onEventClick($event)" [loading]="loader">
                    <ng-template #resourceHeaderTemplate let-data let-item let-index>
                        <div class='template-wrap d-inline-flex align-items-center'>
                            <div class="resource-image avatar mr-1">
                                <!-- <img height="40" width="40"
                                    src="../../../../assets/images/avatars/no-user-profile.png"> -->
                                <app-letter-profile [firstname]="item.resourceData.firstname"
                                    [lastname]="item.resourceData.lastname"></app-letter-profile>
                                <img class="external-calendar-icon"
                                    *ngIf="checkExternalAccountForGoogle(item.resourceData.id)"
                                    src="../../../../assets/images/icons/google.png"
                                    title="{{'myCalendar.connectedThisCalendarWithGoogle' | translate}}">
                            </div>
                            <div class="resource-details">
                                <div class="d-flex">
                                    <div *ngIf="item.resourceData.firstname || item.resourceData.lastname"
                                        class="resource-name">
                                        {{item.resourceData.firstname}} {{item.resourceData.lastname}}
                                    </div>
                                    <span *ngIf="!workTimes[item.resourceData.groupIndex]"
                                        class="fa fa-exclamation not-set-worktime"
                                        title="{{'myCalendar.notSetWorkTimeForUser' | translate}}"></span>
                                </div>
                                <div *ngIf="item.resourceData.position" class="resource-designation">
                                    {{item.resourceData.position}}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #eventTemplate let-data>

                    </ng-template>
                    <ng-template #editorTemplate let-data *ngIf="!loader">
                        <table class="custom-event-editor" width="100%" cellpadding="5">
                            <tbody>
                                <div>
                                    <form #f="ngForm" [formGroup]="appointment">
                                        <div class="row">
                                            <div class="col-12 mb-1 mt-1">
                                                <label>{{'myCalendar.client' | translate}} <span class="error"
                                                        title="{{'form.fieldIsRequired' | translate}}">*</span></label>
                                                <span *ngIf="submited&&!appointment.controls.client_id.valid"
                                                    class="error">
                                                    {{'clientData.fillFirstname' | translate}}
                                                </span>
                                                <ng-select *ngIf="allClients" [items]="allClients"
                                                    [bindLabel]="'firstname'" [bindValue]="'id'" [closeOnSelect]="true"
                                                    [searchable]="true" id="client_id" formControlName="client_id"
                                                    (change)="onChangeClient($event)">
                                                    <ng-template ng-option-tmp let-item="item" let-clear="clear"
                                                        let-index="index">
                                                        <span>{{ item.firstname + ' ' + item.lastname }}</span>
                                                    </ng-template>
                                                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                        {{item.firstname}}
                                                        {{item.lastname}}
                                                    </ng-template>

                                                    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                                        <div class="ng-option disabled">
                                                            {{'commonFields.noDataFoundFor' | translate}}
                                                            "{{searchTerm}}". {{'commonFields.doYouWantToCreateNew' |
                                                            translate}}
                                                        </div>
                                                    </ng-template>

                                                    <ng-template ng-footer-tmp>
                                                        <p class="m-0 font-weight-bold cursor-pointer"
                                                            (click)="openSidebarForCreteClient()"><span
                                                                class="fa fa-plus-circle"></span> {{
                                                            'commonFields.createNewClient' | translate
                                                            }} </p>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <label>{{'myCalendar.service' | translate}} <span class="error"
                                                        title="{{'form.fieldIsRequired' | translate}}">*</span></label>
                                                <span *ngIf="submited&&!appointment.controls.service_id.valid"
                                                    class="error">
                                                    {{'clientData.fillFirstname' | translate}}
                                                </span>
                                                <ng-select [items]="allServices" [bindLabel]="'name'" [bindValue]="'id'"
                                                    [closeOnSelect]="true" [searchable]="true" id="service_id"
                                                    formControlName="service_id" (change)="onChangeService($event)">

                                                    <ng-template ng-footer-tmp>
                                                        <p class="m-0 font-weight-bold cursor-pointer"
                                                            (click)="openSidebarForCreteService()"><span
                                                                class="fa fa-plus-circle"></span> {{
                                                            'commonFields.createNewService' | translate
                                                            }} </p>
                                                    </ng-template>
                                                </ng-select>


                                            </div>

                                            <div class="col-lg-6 col-md-12 termine-from">
                                                <label>{{'myCalendar.termineFrom' | translate}} <span class="error"
                                                        title="{{'form.fieldIsRequired' | translate}}">*</span></label>
                                                <span *ngIf="submited&&!appointment.controls.StartTime.valid"
                                                    class="error">
                                                    {{'clientData.fillFirstname' | translate}}
                                                </span>
                                                <ejs-datetimepicker cssClass="e-outline" class="date-none"
                                                    id="StartTime" formControlName="StartTime" format="dd.MM.yyyy HH:mm"
                                                    timeFormat="HH:mm"></ejs-datetimepicker>
                                            </div>


                                            <div class="col-lg-6 col-md-12 mb-1">
                                                <label>{{'myCalendar.termineTo' | translate}} <span class="error"
                                                        title="{{'form.fieldIsRequired' | translate}}">*</span></label>
                                                <span *ngIf="submited&&!appointment.controls.EndTime.valid"
                                                    class="error">
                                                    {{'clientData.fillFirstname' | translate}}
                                                </span>
                                                <ejs-datetimepicker cssClass="e-outline" class="date-none"
                                                    id="StartTime" formControlName="EndTime" format="dd.MM.yyyy HH:mm"
                                                    timeFormat="HH:mm"></ejs-datetimepicker>
                                            </div>

                                            <div class="col-12 mb-1">
                                                <label>{{'myCalendar.description' | translate}}</label>
                                                <textarea type="text" class="form-control" formControlName="description"
                                                    rows="3"></textarea>
                                            </div>

                                            <div class="col-12 mb-1" *ngIf="googleAdditionalCalendarsList.length">
                                                <label>{{'myCalendar.googleAdditionalCalendars' | translate}}</label>
                                                <span *ngIf="submited&&!appointment.controls.service_id.valid"
                                                    class="error">
                                                    {{'clientData.fillFirstname' | translate}}
                                                </span>
                                                <ng-select [items]="googleAdditionalCalendarsList"
                                                    [bindLabel]="'summary'" [bindValue]="'id'" [closeOnSelect]="true"
                                                    [searchable]="true" id="externalCalendarId"
                                                    formControlName="externalCalendarId"></ng-select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="payment-info text-center mt-2">
                                    <h6 class="mb-0" *ngIf="data.is_online">{{'myCalendar.scheduledByUser' |
                                        translate}}</h6>
                                    <h6 class="selected-payment" *ngIf="data.is_online&&!data.amount_paid">
                                        {{'myCalendar.selectedPayOnArrivalOption' | translate}}
                                    </h6>
                                    <h6 class="selected-payment" *ngIf="data.is_online&&data.amount_paid">
                                        {{_helpService.replaceText('myCalendar.selectedPayOnline' | translate,
                                        '#amount', data.amount_paid)}}
                                    </h6>
                                </div>
                            </tbody>
                        </table>
                    </ng-template>
                    <e-resources *ngIf="resourceDataSource">
                        <e-resource field='employeeId' title='Employees' name='Doctors'
                            [dataSource]='resourceDataSource' textField='text' idField='id' colorField='color'
                            startHourField='startHour' [allowMultiple]="true" endHourField='endHour'>
                        </e-resource>
                    </e-resources>
                </ejs-schedule>
            </div>
            <div class="need-to-select-container" *ngIf="!checkCalendarVisibility()&&!loader">
                <div class="need-to-select">
                    <img src="../../../../assets/images/illustration/calendar.png">
                    <h3 class="mt-1">{{'myCalendar.selectLocationAndEmployee' | translate}}</h3>
                </div>
            </div>

        </section>
    </div>
</div>

<!-- SIDEBAR -->
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-client" overlayClass="modal-backdrop">
    <div class="slideout-content">
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)"
                    #newUserForm="ngForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="toggleSidebar('new-client'); calendar.openEditor(null, 'Add')">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">{{('general.editEntrie' | translate)}}</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <app-dynamic-forms [path]="'forms'" [file]="'my-client.json'" (submit)="createNewClient($event)"
                            #form="dynamicForm">
                        </app-dynamic-forms>
                    </div>
                </form>

            </div>
        </div>
    </div>
</core-sidebar>

<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-service" overlayClass="modal-backdrop">
    <div class="slideout-content">
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)"
                    #newUserForm="ngForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="toggleSidebar('new-service')">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">{{('general.editEntrie' | translate)}}</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <app-dynamic-forms [path]="'forms'" [file]="'my-service.json'"
                            (submit)="createNewService($event)" #form="dynamicForm">
                        </app-dynamic-forms>
                    </div>
                </form>

            </div>
        </div>
    </div>
</core-sidebar>
<!--/ Sidebar -->


<!-- END SIDEBAR -->