// @import "../../../../../assets/scss/syncfusion-calendar.scss";

@media (max-width: 992px) {
  .termine-from {
    margin-bottom: 10px;
  }

}

@media (min-width: 992px) {
  .custom-event-editor {
    min-height: 250px;
  }
}

.modal-slide-in.show .modal-dialog, .modal-slide-in .modal.show .modal-dialog {
  z-index: 999;
}
