<div *ngIf="!elementsOptions.clientSecret">
    <app-loader></app-loader>
</div>
<div *ngIf="elementsOptions.clientSecret" style="margin-bottom: 10px">

    <div class="mb-2">
        <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
            <ngx-stripe-payment [appearance]="appearance" />
        </ngx-stripe-elements>
    </div>
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="accept" [(ngModel)]="accept">
        <label class="custom-control-label" for="accept">
            {{'paymentProcessing.acceptTermsAndPrivacyPolicy' | translate}}
        </label>

        <div *ngIf="submitted&&!accept" class="error">
            {{'paymentProcessing.needAcceptTermsAndPrivacyPolicy' | translate}}
        </div>
    </div>

    <div class="pt-2 text-center">
        <button (click)="pay()" class="btn btn-primary w-50 payment" [disabled]="!accept ? true : false">
            <app-loader-small *ngIf="paying"></app-loader-small>
            <span class="fa fa-shopping-cart"></span>&nbsp;
            {{buttonText ? buttonText : _helpService.replaceText('paymentProcessing.buttonText'
            |
            translate, '{amount}', amount)}}</button>
    </div>
</div>