.voucher-title {
  margin: 0;
  color: #000;
}

.termmy-coin {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.termmy-coin .container-coin {
  border: 1px solid lightgray;
  border-radius: 6px;
  max-width: 400px;
  padding: 5px;
}

.coin-counts {
  padding: 14px;
  text-align: center;
}

.container-coin .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-coin span {
  font-size: 12px;
  font-weight: bolder;
}

.termmy-coin img {
  width: 25px;
  padding-left: 3px;
}

.enought-coins {
  font-size: 12px;
  margin-top: 15px;
  background: rgba(40, 199, 111, 0.12) !important;
  color: #28c76f !important;
  padding: 5px;
}

.enought-coins span {
  font-size: 14px;
  font-weight: bold;
}
