<div *ngIf="!elementsOptions.clientSecret&&loader">
    <app-loader></app-loader>
</div>
<div *ngIf="elementsOptions.clientSecret&&!loader" style="margin-bottom: 10px">

    <div class="termmy-coin">
        <div class="container-coin">
            <div class="info">
                <div>
                    <div>
                        <h3 class="mb-0 font-weight-bolder">{{termmyCoinCount}} <img
                                src="./assets/images/icons/termmy-coin.png" title="{{'recommended.termmyCoin' |
    translate}}">
                            <br>
                        </h3>
                    </div>
                    <span>{{'paymentProcessing.totalTermmyCoin' | translate}}</span>
                </div>

                <div class="ml-2 mr-2">
                    =
                </div>
                <div>
                    <div>
                        <h3 class="mb-0 font-weight-bolder">{{convertedTermmyCoin.toFixed(2)}} €
                            <br>
                        </h3>
                    </div>
                    <span>{{'paymentProcessing.discountPrice' | translate}}</span>
                </div>
            </div>
            <div class="mt-2">
                <button class="btn-sm btn-outline-primary" [disabled]="termmyCoinCount > 0 ? false : true"
                    (click)="useTermmyCoins()">{{'paymentProcessing.usingTermmyCoin' | translate}}</button>
            </div>
        </div>

    </div>

    <div class="mb-2">
        <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
            <ngx-stripe-payment [appearance]="appearance" />
        </ngx-stripe-elements>
    </div>

    <div class="mb-1">
        <p class="voucher-title">{{'paymentProcessing.voucherTitle' | translate}}</p>
        <div class="d-flex">
            <input class="form-control" [placeholder]="'paymentProcessing.voucherPlaceholder' | translate"
                name="voucher_code" [(ngModel)]="voucherCode" />
            <button class="btn btn-outline-primary ml-1 d-flex" (click)="checkVoucherCode()"
                [disabled]="appliedCodeMessage.disabled"><span class="fa fa-check"></span>
                {{'paymentProcessing.voucherApplyButton' | translate}}</button>
        </div>
        <div class="mt-2" *ngIf="appliedCodeMessage">
            <app-alert [type]="appliedCodeMessage.valid ? 'success' : 'danger'"
                [text]="appliedCodeMessage.message"></app-alert>
        </div>
    </div>

    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="accept" [(ngModel)]="accept">
        <label class="custom-control-label" for="accept">
            {{'paymentProcessing.acceptTermsAndPrivacyPolicyOne' | translate}}
            <a href="https://termmy.com/terms" target="_blank">{{'paymentProcessing.acceptTermsAndPrivacyPolicyTerms' |
                translate}}</a>
            {{'paymentProcessing.acceptTermsAndPrivacyPolicyTermsAnd' | translate}}
            <a href="https://termmy.com/privacy-policy"
                target="_blank">{{'paymentProcessing.acceptTermsAndPrivacyPolicyPrivacyPolicy' | translate}}</a>
            {{'paymentProcessing.acceptTermsAndPrivacyPolicyTwo' | translate}}
        </label>

        <div *ngIf="submitted&&!accept" class="error">
            {{'paymentProcessing.needAcceptTermsAndPrivacyPolicy' | translate}}
        </div>
    </div>

    <div class="pt-2 text-center">
        <button (click)="pay()" class="btn btn-primary payment" [disabled]="!accept||paying ? true : false">
            <app-loader-small *ngIf="paying"></app-loader-small>
            <span class="fa fa-shopping-cart"></span>&nbsp;
            {{buttonText ? buttonText : _helpService.replaceText('paymentProcessing.buttonText'
            |
            translate, '#amount', amount)}}</button>
    </div>
</div>