<form class="validate-form">
    <div class="row">
        <!-- social header -->
        <div class="col-12">
            <div class="align-items-center mb-2 border-bottom">
                <i data-feather="link" class="font-medium-3"></i>
                <h4 class="ml-75">{{'connections.title' | translate}}</h4>
                <h6 class="ml-75">{{'connections.text' | translate}}</h6>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="pt-2">

                    <!-- Connections -->
                    <div class="d-md-flex mt-2">
                        <div class="d-flex flex-shrink-0">
                            <img src="../../../../../../assets/images/icons/google.png" alt="google" class="me-1"
                                height="38" width="38" />
                            <div class="me-1 ml-1">
                                <span class="fw-bolder mb-0">{{'connections.googleTitle' | translate}}</span>
                                <span *ngIf="data && data.google" type="button"
                                    class="badge badge-light-success ml-75">{{'connections.successfullyConnected'
                                    |
                                    translate}}</span>
                                <p>{{'connections.googleText' | translate}}</p>
                            </div>
                        </div>
                        <div class="flex-grow-1 text-right">

                            <div class="mt-50 mt-sm-0">
                                <div class="form-check form-switch form-check-primary">
                                    <div class="form-check form-switch form-check-primary">
                                        <button *ngIf="!data || !data.google" type="button"
                                            class="btn btn-outline-primary"
                                            (click)="connectToGoogle()">{{'connections.connect' |
                                            translate}}</button>

                                        <button *ngIf="data && data.google" type="button" class="btn btn-outline-danger"
                                            (click)="disconnectFromGoogle()">{{'connections.disconnect' |
                                            translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="calendarsList.owner.length || calendarsList.reader.length">
                        <h4 class="border-bottom mt-1">{{'connections.includeAnotherCalendar' | translate}}
                            <app-explanation-mark
                                [explanation]="('connections.includeAnotherCalendarExplanation' | translate)"></app-explanation-mark>
                        </h4>
                        <div class="mt-2" *ngIf="calendarsList.owner.length">
                            <div class="mt-1">
                                <h5>{{'connections.ownersCalendars' | translate}}
                                    <app-explanation-mark
                                        [explanation]="('connections.ownersCalendarsExplanation' | translate)"></app-explanation-mark>
                                </h5>
                                <div class="custom-control custom-checkbox mt-1 ml-1"
                                    *ngFor="let item of calendarsList.owner">
                                    <input type="checkbox" class="custom-control-input" id="{{item.id}}"
                                        [checked]="item.primary ? true : data.google_additional_calendars[item.id] && data.google_additional_calendars[item.id].active"
                                        [readOnly]="item.primary ? true :  false"
                                        [(ngModel)]="data.google_additional_calendars[item.id] && data.google_additional_calendars[item.id].active"
                                        (change)="setGoogleCalendarList(item)" />
                                    <label class="custom-control-label" for="{{item.id}}">{{item.summary}}</label>
                                </div>
                            </div>

                            <div class="mt-2" *ngIf="calendarsList.reader.length">
                                <h5>{{'connections.readonlyCalendars' | translate}}
                                    <app-explanation-mark
                                        [explanation]="('connections.readonlyCalendarsExplanation' | translate)"></app-explanation-mark>
                                </h5>
                                <div class="custom-control custom-checkbox mt-1 ml-1"
                                    *ngFor="let item of calendarsList.reader">
                                    <input type="checkbox" class="custom-control-input" id="{{item.id}}"
                                        [checked]="item.primary ? true : data.google_additional_calendars[item.id] && data.google_additional_calendars[item.id].active"
                                        [readOnly]="item.primary ? true :  false"
                                        [(ngModel)]="data.google_additional_calendars[item.id] && data.google_additional_calendars[item.id].active"
                                        (change)="setGoogleCalendarList(item)" />
                                    <label class="custom-control-label" for="{{item.id}}">{{item.summary}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="d-md-flex mt-2">
                        <div class="d-flex flex-shrink-0">
                            <img src="../../../../../../assets/images/icons/outlook.png" alt="outlook" class="me-1"
                                height="38" width="38" />
                            <div class="me-1 ml-1">
                                <p class="fw-bolder mb-0">{{'connections.outlookTitle' | translate}}</p>
                                <span>{{'connections.outlookText' | translate}}</span>
                            </div>
                        </div>
                        <div class="flex-grow-1 text-right">
                            <div class="mt-50 mt-sm-0">
                                <div class="form-check form-switch form-check-primary">
                                    <button type="button" class="btn btn-outline-primary">{{'connections.connect' |
                                        translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- /Connections -->
                </div>
            </div>
        </div>
    </div>
</form>