<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; {{ year }}
    <a class="ml-25" href="https://bcigmbh.com" target="_blank">Termmy</a>
    <span class="d-none d-sm-inline-block">, All rights Reserved.</span> &nbsp;
    <a href="https://termmy.com/impressum" target="_blank">{{'general.footerImpressum' | translate}}</a> |
    <a href="https://termmy.com/terms" target="_blank">{{'general.footerTerms' | translate}}</a> |
    <a href="https://termmy.com/privacy-policy" target="_blank">{{'general.footerPrivacyPolicy' | translate}}</a>
  </span>
  <span class="float-md-right d-none d-md-block">
    Hand-crafted & Made with <span [data-feather]="'heart'" [class]="'pink'"></span>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>