<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img class="img-fluid" [src]="
              coreConfig.layout.skin === 'dark'
                ? 'assets/images/pages/register-v2-dark.svg'
                : 'assets/images/pages/register-v2.svg'
            " alt="Register V2" />
            </div>
        </div>
        <!-- /Left Text-->
        <!-- Register-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title font-weight-bold mb-1">{{'signUp.title' | translate}}</h2>
                <p class="card-text mb-2">{{'signUp.text' | translate}}</p>
                <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="register-email" class="form-label">{{'commonFields.email' | translate}}</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="email@termmy.com"
                            aria-describedby="register-email" tabindex="2"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'signUp.emailIsRequired' | translate}}</div>
                            <div *ngIf="f.email.errors.email">{{'signUp.emailMustBeValid' | translate}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="register-password" class="form-label">{{'commonFields.password' |
                            translate}}</label>

                        <div class="input-group input-group-merge form-password-toggle">
                            <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                                class="form-control form-control-merge" placeholder="············"
                                aria-describedby="register-password" tabindex="3"
                                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }" (click)="togglePasswordTextType()"></i></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.password.errors }">
                            <div *ngIf="f.password.errors.required">{{'signUp.passwordIsRequired'}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-password" class="form-label">{{'commonFields.rePassword' |
                            translate}}</label>

                        <div class="input-group input-group-merge form-password-toggle">
                            <input [type]="passwordTextType ? 'text' : 'password'" formControlName="rePassword"
                                class="form-control form-control-merge" placeholder="············"
                                aria-describedby="register-password" tabindex="3"
                                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }" (click)="togglePasswordTextType()"></i></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.password.errors }">
                            <div *ngIf="f.password.errors.required">{{'signUp.passwordIsRequired'}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="register-privacy-policy"
                                tabindex="4" />
                            <label class="custom-control-label" for="register-privacy-policy">
                                {{'signUp.IAgreeTo' | translate}} <a href="javascript:void(0);">{{'signUp.privacy' |
                                    translate}}</a>
                            </label>
                        </div>
                    </div>
                    <!-- LABELS -->
                    <div>

                        <!-- NOT SUCCESSFULY MESSAGE -->

                        <div *ngIf="submitted && registerForm.invalid" class="text-center">
                            <p class="badge badge-light-danger badge-pill full-width p-1">{{'signUp.fillRequredFields' |
                                translate}}</p>
                        </div>

                        <div *ngIf="response.mailExists" class="text-center">
                            <p class="badge badge-light-danger badge-pill full-width p-1 white-space-break">
                                {{'signUp.mailExists' |
                                translate}}</p>
                        </div>

                        <div *ngIf="response.passwordNotMatch" class="text-center">
                            <p class="badge badge-light-danger badge-pill full-width p-1 white-space-break">
                                {{'signUp.passwordNotMatch' |
                                translate}}</p>
                        </div>

                        <!-- END NOT SUCCESSFULY MESSAGE -->

                        <!-- SUCCESSFULY MESSAGE -->

                        <div *ngIf="response.verifyYourMail" class="text-center">
                            <p class="badge badge-light-success badge-pill full-width p-1 white-space-break">
                                {{'signUp.verifyYouMail' |
                                translate}}</p>
                        </div>

                        <!-- END SUCCESSFULY MESSAGE -->
                    </div>
                    <!-- END LABELS -->
                    <button class="btn btn-primary btn-block" tabindex="5" rippleEffect> <span *ngIf="loading"
                            class="spinner-border spinner-border-sm mr-1"></span>{{'signUp.signUp' |
                        translate}}</button>
                </form>
                <p class="text-center mt-2">
                    <span>{{'signUp.alreadyHaveAnAccount' | translate}}</span><a
                        routerLink="/auth/login"><span>&nbsp;{{'signUp.signInInstead' | translate}}</span></a>
                </p>
                <!-- <div class="divider my-2">
                    <div class="divider-text">or</div>
                </div>
                <div class="auth-footer-btn d-flex justify-content-center">
                    <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a><a
                        class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a><a
                        class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a><a
                        class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
                </div> -->
            </div>
        </div>
        <!-- /Register-->
    </div>
</div>