.avatar-container {
  position: relative;
  width: fit-content;
}

.icon-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 0.35rem;
  background-color: #7367f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  color: #fff;

  &:hover {
    transition: all 0.25s;
    background-color: darken(#7367f0, 15%);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="file"] {
    display: none;
  }
}

.box-shadow-avatar {
  box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
  height: 100px;
  width: 100px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px 20px rgb(235 233 255);

  &.avatar-placeholder {
    background-image: url("../../../../../../assets/images/avatars/no-company-profile.png");
  }
}
