<div class="card border {{!item.active ? 'inactive' : ''}}">
    <div class="card-header d-flex justify-content-between align-items-center pb-1 border-bottom">
        <div>
            <h5 class="card-title">{{item.title}} <app-explanation-mark
                    [explanation]="item.text | translate"></app-explanation-mark></h5>

        </div>

        <div ngbDropdown>
            <i class="fa fa-cog config-icon" aria-hidden="true" ngbDropdownToggle id="dropdownMenuButton"></i>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <a ngbDropdownItem (click)="item.active = !item.active; change()"><span
                        class="fa fa-{{item.active ? 'pause' : 'play'}}"></span> {{item.active ?
                    ('smsReminder.deactiveNotification' | translate) : ('smsReminder.activeNotification' |
                    translate)}}</a>
                <a ngbDropdownItem (click)="sendTestMessage()"> <span class="fa fa-comment-o"></span>
                    {{'smsReminder.testMessage' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="card-body mt-2 font-italic">
        <b>{{'emailReminder.subject' | translate}}:</b> {{item.subject}} <br> <br>
        <b>{{'emailReminder.message' | translate}}:</b> {{item.message}}
    </div>
    <div class="text-right status">
        <span *ngIf="item.active" class="badge badge-light-success">{{'smsReminder.active' | translate}}</span>
        <span *ngIf="!item.active" class="badge badge-light-danger">{{'smsReminder.inactive' | translate}}</span>
    </div>
</div>