<div class="card border {{!item.active ? 'inactive' : ''}}">
    <div class="card-header d-flex justify-content-between align-items-center pb-1 border-bottom">
        <div>
            <h5 class="card-title">{{item.title | translate}} <app-explanation-mark
                    [explanation]="item.text | translate"></app-explanation-mark></h5>

        </div>

        <div ngbDropdown>
            <i class="fa fa-cog config-icon" aria-hidden="true" ngbDropdownToggle id="dropdownMenuButton"></i>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <a ngbDropdownItem (click)="showReminderEditDialog()"><span class="fa fa-edit"></span>
                    {{'emailReminder.edit' |
                    translate}}</a>
                <a ngbDropdownItem (click)="item.active = !item.active; change()"><span
                        class="fa fa-{{item.active ? 'pause' : 'play'}}"></span> {{item.active ?
                    ('emailReminder.deactiveNotification' | translate) : ('emailReminder.activeNotification' |
                    translate)}}</a>
                <a ngbDropdownItem (click)="sendTestMessage()"> <span class="fa fa-comment-o"></span>
                    {{'emailReminder.testMessage' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="card-body mt-2 pb-0 font-italic">
        <b>{{'emailReminder.subject' | translate}}:</b> {{item.subject | translate}} <br> <br>
        <b>{{'emailReminder.message' | translate}}:</b> {{item.message | translate}}
    </div>
    <div class="text-right status">
        <span *ngIf="item.active" class="badge badge-light-success">{{'emailReminder.active' | translate}}</span>
        <span *ngIf="!item.active" class="badge badge-light-danger">{{'emailReminder.inactive' | translate}}</span>
    </div>
</div>


<ng-template #reminderEdit let-modal class="modal-dialog modal-lg modal-dialog-centered display-none">
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'general.edit' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div>
            <label class="custom-label">{{'emailReminder.subject' | translate}}</label>
            <input class="form-control" [(ngModel)]="item.subject" name="subject">
        </div>

        <!-- <div>
            <input type="checkbox" class="form-check-input" [(ngModel)]="item.active">
            <label class="form-check-label" [for]="config.name">{{
                config.title | translate
                }} <span class="error" title="{{fieldIsRequired}}">{{config.required ? '*' : ''}}</span>
                <app-explanation-mark *ngIf="config.explanation"
                    [explanation]="config.explanation"></app-explanation-mark>
            </label>
        </div> -->

        <div class="edit-reminder mt-2">
            <div class="message-template">
                <div class="dynamic-buttons mt-1 full-width">
                    <label>{{'emailReminder.dynamicValue' | translate}}
                        <app-explanation-mark></app-explanation-mark></label> <br>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#time')"><span
                            class="fa fa-clock-o"></span> #time</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#date')"><span
                            class="fa fa-calendar"></span> #date</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#address')"><span
                            class="fa fa-address-book-o"></span>
                        #address</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#zip')"><span
                            class="fa fa-address-book-o"></span>
                        #zip</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#city')"><span
                            class="fa fa-address-book-o"></span>
                        #city</button>
                    <button *ngIf="companyInfo.telephone" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#telephone')"><span class="fa fa-mobile"></span> #telephone</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#company')"><span
                            class="fa fa-building-o"></span> #company</button>
                    <button *ngIf="bookingLink" class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#bookingLink')"><span class="fa fa-building-o"></span>
                        #bookingLink</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#employeeName')"><span
                            class="fa fa-user"></span>
                        #employeeName</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#employeeTelephone')"><span
                            class="fa fa-phone"></span>
                        #employeeTelephone</button>
                    <button class="btn-sm btn-outline-primary" (click)="addDynamicValue('#employeeEmail')"><span
                            class="fa fa-envelope-o"></span>
                        #employeeEmail</button>
                    <button class="btn-sm btn-outline-primary"
                        (click)="addDynamicValue('#employeeAdditionalInfoForReminder')"><span
                            class="fa fa-info-circle"></span>
                        #employeeAdditionalInfoForReminder</button>
                </div>

                <label class="custom-label">{{'emailReminder.message' | translate}}</label>
                <textarea #editableText id="editable-text" class="form-control" rows="6" [(ngModel)]="item.message"
                    (input)="changeMessage($event)" (click)="getCurrentPossition($event)"
                    name="message-template"></textarea>
                <!-- <div #editableText id="editable-text" class="editable-text" [innerText]="item.message"
                    [innerHtml]="convertMessageForSpecificWord()" (keypress)="changeMessage($event)"
                    contenteditable="true" spellcheck="false">
                </div> -->
            </div>
            <div class="message-preview">
                <label class="custom-label">{{'emailReminder.messagePreview' | translate}}</label>
                <textarea class="form-control" rows="6" [value]="previewMessage().value" name="preview-message"
                    [disabled]="true"></textarea>
            </div>
        </div>

        <div class="form-check mt-2">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.active">
                <label class="form-check-label">{{
                    'emailReminder.activeOrDeactive' | translate
                    }}
                </label>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="saveMessage()">{{'general.save' | translate}}</button>
    </div>
</ng-template>